<div class="user-profile">
  <div class="icon text-center">
    <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
  </div>
  <div class="name text-center">
    <h1><%= @user.name %></h1>
  </div>
  <h2>今月の目標</h2>
    <h3><%= @user.target %></h3>
    
  <h2>プロフィール</h2>
  <table class="table">
    <tr>
      <th>出身地</th>
      <th>年齢</th>
      <th>性別</th>
    </tr>
    <tr>
      <td>&nbsp;<%= @user.address %></td>
      <td><% if @user.age.present? %> &nbsp;<%= @user.age %>代 <% end %></td>
      <td>&nbsp;<%= @user.sex %></td>
    </tr>
  </table>
  <table class="table">
    <tr>
      <th>自己紹介</th>
    </tr>
    <tr>
      <td><%= @user.introduce %></td>
    </tr>
  </table>
  <% if current_user == @user %>
    <%= link_to "目標・プロフィールの編集", edit_user_path(@user) %>
  <% end %>
  <h2>本日のメニュー</h2>
  <div>
    <%= render "menus/menus", menus: @menus %>
  </div>
</div>
